@inherits LayoutComponentBase

<div class="bg-info text-white p-2">
    <div class="container-fluid">
        <!--Added align-items-center to center the title with the logout button-->
        <div class="row align-items-center">
            <div class="col">
                <span class="navbar-brand m-lg-2">Bookstore Administration</span>
            </div>
            <div class="col-2">
                <!--Added outline class to change look of button-->
                <a class="btn btn-sm btn-outline-light" href="/account/logout">Log Out</a>
            </div>
        </div>
    </div> 
</div>

<div class="container-fluid">
    <div class="row p-2">
        <div class="col-3">
            <NavLink class="btn btn-block btn-outline-primary" href="/admin/books"
                     ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Books</NavLink>
            <NavLink class="btn btn-block btn-outline-primary" href="/admin/orders"
                     ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Orders</NavLink>
        </div>
        <div class="col">
            @Body
        </div>
    </div>
</div>